<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dao.Biz_leaveMapper">
	<select id="getBiz" resultType="cn.pojo.Biz_leave">
		SELECT * FROM `BIZ_LEAVE`;
	</select>

	<insert id="bizadd" parameterType="biz_leave">
		INSERT INTO `BIZ_LEAVE` (xm_id,STARTTIME,ENDTIME,bm_id,gw_id,qingjia,liyou,sfty,pjshijian)
		VALUES (#{xm_id}, #{starttime},#{endtime},#{bm_id}, #{gw_id}, #{qingjia},#{liyou},#{sfty}, #{pjshijian});
	</insert>

	<delete id="delbiz">
		DELETE FROM `BIZ_LEAVE` WHERE id=#{id}
	</delete>

</mapper>